header {
  height: 80px;
}
header .navbar {
  min-height: 80px;
}
main {
  min-height: calc(100vh - 80px);
  background-color: #111111;
}
.hero-section {
  min-height: calc(100vh - 80px);
}
.hero-section h1 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-section p {
  color: #d4af37;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.image-wrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card .card-body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1a;
  height: 250px;
  overflow: auto;
  color: #b0b0b0;
}
